<div class="footer-dark">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-push-6 item text">
          <h3>CATFISH </h3>
          <p>A storage location to showcase the dankest videos ever recorded by the most toxic, racist, and cancerous group of individuals.</p>
        </div>
        <div class="col-md-3 col-md-pull-6 col-sm-4 item">
          <h3>Services</h3>
          <ul>
            <li><a href="upload">Upload</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-md-pull-6 col-sm-4 item">
          <h3>About</h3>
          <ul>
            <li><a href="team">Team</a></li>
          </ul>
        </div>
      </div>
      <p class="copyright">CATFISH © 2016</p>
    </div>
  </footer>
</div>
