<!DOCTYPE html>
<html>

<head>
  <% include partials/template/head.ejs %>
    <style>
      html,
      body {
        height: 100%;
      }
    </style>
</head>

<body>
  <div class="login-dark" style="height:1300px;">
    <form method="post">
      <h2 class="sr-only">Login Form</h2>
      <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
      <div class="form-group">
        <input class="form-control" type="email" name="username" placeholder="E-mail Address" Value="">
      </div>
      <div class="form-group">
        <input class="form-control" type="password" name="password" placeholder="Password">
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block" type="submit" name="submit">Log In</button>
      </div>
      <a class="forgot" href="register"> Don't have an account? Please register.</a>
    </form>
  </div>



  <% include partials/template/jsdefaults.ejs %>
</body>

</html>
